<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hesen.dao.BlogDao">


    <resultMap type="com.hesen.entity.Blog" id="BlogResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="clickHit" column="clickHit"/>
        <result property="replyHit" column="replyHit"/>
        <result property="content" column="content"/>
        <result property="keyWord" column="keyWord"/>
        <result property="releaseDateStr" column="releaseDateStr"/>
        <result property="blogCount" column="blogCount"/>

        <association property="blogType" javaType="com.hesen.entity.BlogType">
            <id property="id" column="btId"/>
            <result property="typeName" column="typeName"/>
            <result property="orderNo" column="orderNo"/>
        </association>
    </resultMap>

    <select id="countList" resultMap="BlogResult">
        SELECT DATE_FORMAT(releaseDate, "%Y年%m月") AS releaseDateStr, COUNT(*) AS blogCount
        FROM t_blog GROUP BY DATE_FORMAT(releaseDate, "%Y年%m月")
        ORDER BY DATE_FORMAT(releaseDate, "%Y年%m月")
        DESC
    </select>

    <select id="list" resultMap="BlogResult">
        SELECT b.id, b.title, b.summary, b.releaseDate, b.clickHit, b.replyHit, b.content,
        b.keyWord, bt.id AS btId, bt.typeName, bt.orderNo
        FROM t_blog AS b INNER JOIN t_blogType AS bt
        ON b.typeId = bt.id
        <where>
            <if test="title != null and title != ''">
                title like #{title}
            </if>
            <if test="typeId != null">
                and typeId = #{typeId}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                and DATE_FORMAT(releaseDate, "%Y年%m月") = #{releaseDateStr}
            </if>
        </where>
        ORDER BY releaseDate DESC
        <if test="start != null and start != '' and size != null and size != ''">
            LIMIT #{start}, #{size}
        </if>
    </select>

    <select id="getTotal" resultType="Long">
        SELECT COUNT(*) FROM t_blog
        <where>
            <if test="title != null and title != ''">
                title like #{title}
            </if>
            <if test="typeId != null and typeId != ''">
                and typeId = #{typeId}
            </if>
            <if test="releaseDateStr != null and releaseDateStr != ''">
                and DATE_FORMAT(releaseDate, "%Y年%m月") = #{releaseDateStr}
            </if>
        </where>
    </select>

    <select id="findById" resultMap="BlogResult">
        SELECT b.id, b.title, b.summary, b.releaseDate, b.clickHit, b.replyHit, b.content,
        b.keyWord, bt.id AS btId, bt.typeName, bt.orderNo
        FROM t_blog AS b INNER JOIN t_blogType AS bt
        ON b.typeId = bt.id
        WHERE b.id = #{id}
    </select>

    <select id="findBlogByTypeId" resultType="Integer">
        SELECT COUNT(*) FROM t_blog WHERE typeId = #{typeId}
    </select>

    <insert id="addBlog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_blog
        VALUES(null, #{title}, #{summary}, NOW(), 0, 0, #{content}, #{blogType.id}, #{keyWord})
    </insert>

    <update id="updateBlog">
        UPDATE t_blog
        <set>
            <if test="title!=null and title!='' ">
                title = #{title},
            </if>
            <if test="summary!=null and summary!='' ">
                summary = #{summary},
            </if>
            <if test="content!=null and content!='' ">
                content = #{content},
            </if>
            <if test="blogType.id!=null ">
                typeId = #{blogType.id},
            </if>
            <if test="clickHit!=null ">
                clickHit = #{clickHit},
            </if>
            <if test="replyHit!=null ">
                replyHit = #{replyHit},
            </if>
            <if test="keyWord!=null and keyWord!='' ">
                keyWord = #{keyWord},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteBlog">
        DELETE FROM t_blog WHERE id = #{id}
    </delete>

    <select id="getLastBlog" resultType="com.hesen.entity.Blog">
        SELECT * FROM t_blog WHERE id &lt; #{id}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="getNextBlog" resultType="com.hesen.entity.Blog">
        SELECT * FROM t_blog WHERE id &gt; #{id}
        ORDER BY id ASC
        LIMIT 1
    </select>


</mapper>